/* General Styling */
body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.6); /* Slightly transparent */
    backdrop-filter: blur(10px); /* Add blur effect */
    padding: 10px 0; /* Reduced height */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Larger shadow */
}

.navbar .nav-link {
    color: #34c4e8 !important; /* Same color as Big Games */
    font-weight: bold;
    font-size: 1.1rem; /* Adjusted font size */
    transition: all 0.3s ease;
    padding: 10px 15px;
    text-transform: uppercase;
}

.navbar .nav-link:hover {
    color: #ffffff !important;
    border-bottom: 3px solid #34c4e8; /* Thicker hover underline */
}

.navbar .active {
    border-bottom: 3px solid #34c4e8; /* Thicker active underline */
}

.navbar .contact-button {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #34c4e8;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.navbar .contact-button:hover {
    background-color: #28a8d6; /* Slightly darker on hover */
}

/* Pulsating logo animation */
@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#pulsating-logo {
    animation: pulsate 2s infinite;
}

#pulsating-central-logo {
    animation: pulsate 2s infinite;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Footer shadow */
}
